data/sentiment+labelled+sentences/__MACOSX/._sentiment labelled sentences
data/sentiment+labelled+sentences/__MACOSX/sentiment labelled sentences/._.DS_Store
data/sentiment+labelled+sentences/__MACOSX/sentiment labelled sentences/._imdb_labelled.txt
data/sentiment+labelled+sentences/__MACOSX/sentiment labelled sentences/._readme.txt
